@font-face {
  font-family: "iconfont"; /* project id 1967162 */
  src: url("//at.alicdn.com/t/font_1967162_se84ysfpbb.eot");
  src: url("//at.alicdn.com/t/font_1967162_se84ysfpbb.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1967162_se84ysfpbb.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1967162_se84ysfpbb.woff") format("woff"),
    url("//at.alicdn.com/t/font_1967162_se84ysfpbb.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1967162_se84ysfpbb.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-select:before {
  content: "\e66e";
}

.icon-brush:before {
  content: "\e6c3";
}

.icon-upload:before {
  content: "\ec51";
}

.icon-download:before {
  content: "\eaa3";
}
